@model MovieAppProject.ViewModels.CustomerFormVIewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerForm</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true, "Please Fix the following errors");
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.CName)
        @Html.TextBoxFor(m => m.Customer.CName,"" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.CName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId,new SelectList(Model.MembershipTypes, "Id", "Name"),"select Membership Type",new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DOB)
        @Html.TextBoxFor(m => m.Customer.DOB,"{0:d MMM yyyy}" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.DOB)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to News Letter?
        </label>
    </div>

    @Html.HiddenFor(c => c.Customer.Id);
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }